body {
  font-size: smaller;
  font-family: 'Lato', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;  
}

h1 {
  padding:0.5em;
  font-size: x-large;
  border-bottom: solid 3px #ffc778;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 40%;
}

h2 {
  overflow: hidden;
  text-align: left;
  font-size: large;
}
h2 span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0.5em 1em;
  text-align: left;
}
h2 span::before,
h2 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 1px;
  background-color: #ccc;
}
h2 span::before {
  right: 100%;
}
h2 span::after {
  left: 100%;
}

table{
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
  margin: 0 0.5em;
}

/*
table tr:hover{
  background-color: #d4f0fd;
}
*/
table th{
  font-size: small;
  text-align: center;
  width: 15%;
  margin: 0 0.5em;
  padding: 15px 10px;
}

table td{
  font-size: smaller;
  text-align: center;
  width: 15%;
  margin: 0 0.5em;
  padding: 15px 10px;
}