<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://igv.org/web/img/favicon.ico">

    <title>igv.js</title>
    <script src="https://cdn.jsdelivr.net/npm/igv@2.3.5/dist/igv.min.js"></script>

</head>

<body>
    <h1>IGV view</h1>

    <div id="igvDiv" style="padding-top: 10px;padding-bottom: 10px; border:1px solid lightgray"></div>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {

            var options =
            {
                genome: "genome_info",
                locus: "locus_info",
                tracks: [
                    LABEL
                            {
                        type: 'alignment',
                        format: 'bam',
                        url: "%1",
                        indexURL: "%1.bai",
                        name: "%2"
                    },
                    LABEL
                ]
            };

            var igvDiv = document.getElementById("igvDiv");

            igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                })

        })

    </script>

</body>

</html>