<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAJIN Report</title>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <h2><span>DAJIN Summary Report</span></h2>
    <table border="1">
        <tr>
            <th>Sample</th>
            <th>Mosaicism <br>(# of delected alleles)</th>
            <th>Designed allele</th>
            <th>Wild-type allele</th>
            <th>Unclassified allele</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>barcode01</td>
            <td>Two alleles</td>
            <td>detected</td>
            <td>detected</td>
            <td>detected</td>
            <td>Link</td>
        </tr>
        <tr>
            <td>barcode02</td>
            <td>More than 5</td>
            <td>detected</td>
            <td>detected</td>
            <td>detected</td>
            <td>Link</td>
        </tr>

    </table>


</body>

</html>