<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAJIN Report</title>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <h1>barcode04</h1>
    <h2><span>Mosaic percentage</span></h2>
    <table border="1">
        <tr>
            <th>Fruits</th>
            <th>Flavor</th>
        </tr>
        <tr>
            <td>イチゴ</td>
            <td>甘い</td>
        </tr>
        <tr>
            <td>レモン</td>
            <td>酸っぱい</td>
        </tr>
    </table>

</body>

</html>